@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    @if (String.IsNullOrEmpty(ViewBag.Link))
    {
        <p>Please check your email to reset your password</p>
    }
    else
    {
        <p> This if for testing purpose:</p>
        <p> Please click the link to reset your password.<a href="@ViewBag.Link">link</a></p>
    }
</div>

